<!DOCTYPE html>
<html>
<head>
    <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
	<title>Contuino</title>
</head>
<body>

<pre id="json"></pre>
 
<script>
(function() {
    setInterval(function(){
    $.getJSON( "/contuino/api/boards", function( json ) {
      console.log(json);
      document.getElementById("json").innerHTML = JSON.stringify(json, undefined, 2);
     });
    },50)
})();
</script>

</body>
</html>